body {
	background-color: #222222;
	color: #BBCDE5;
	font-family: verdana;
}

a {
	color: #1C5D99;
	font-weight: bold;
}

header {
	background-color: #639FAB;
	border: 1px solid #000;
	text-align: center;
}

h1, h2 {
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: 3px;
	clear: both;
}

h1 span {
	color: #F6D8AE;
	letter-spacing: 2px;
}

figure {
	float: right;
	border: 6px solid #000;
	border-radius: 50%;
}

figure img {
	border-radius: 50%;
	padding: 10px;
}

p {
	line-height: 1.5em;
	margin-left: 1.5em;
}

p img {
	border: 10px solid #000;
	width: 50%;
	display: block;
	margin: 20px 0;
}

#strava {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 100px;
	margin-bottom: 150px;
}

/* style different link types */

a:link {
	color: #99d6ff;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #008ae6;
	font-weight: bold;
}

a:hover, a:active {
	color: #008ae6;
	font-weight: bold;
	text-decoration: underline;
}

/* setup a static footer */

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 25px;
	width: 100%;
	background-color: #404040;
	color: white;
	text-align: center;
	vertical-align: center;
	word-spacing: 50px;
	padding: 10px;
	font-family: "Times New Roman", Times, serif;
	font-size: 150%;
}
