body {
	background-color: #222222;
	color: #BBCDE5;
	font-family: verdana;
}

a {
	color: #1C5D99;
	font-weight: bold;
}

header {
	background-color: #639FAB;
	border: 1px solid #000;
	text-align: center;
}

h1, h2 {
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 4px 3px gray;
	letter-spacing: 3px;
}

h1 span {
	color: #F6D8AE;
	letter-spacing: 2px;
}

figure {
	float: right;
	border: 6px solid #000;
	border-radius: 50%;
}

figure img {
	border-radius: 50%;
	padding: 10px;
}

p {
	line-height: 1.5em;
	margin-left: 1.5em;
}

p img {
	border: 10px solid #000;
	width: 50%;
	display: block;
	margin: 20px 0;
}

/* add strava widget */

#strava {
	text-align: right;
	margin-top: 100px;
	margin-bottom: 50px;
	margin-right: 100px;
}

/* style different link types */

a:link {
	color: #99d6ff;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #008ae6;
	font-weight: bold;
}

a:hover, a:active {
	color: #008ae6;
	font-weight: bold;
	text-decoration: underline;
}

/* setup a fixed footer */

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 25px;
	width: 100%;
	background-color: #404040;
	color: white;
	text-align: center;
	word-spacing: 50px;
	padding: 10px;
	font-family: "Times New Roman", Times, serif;
	font-size: 150%;
}

/* add some list styling */

#changes {
	padding-top: 50px;
	line-height: 1.5em;
	margin-left: 1.5em;
	font-family: cursive;
	font-style: italic;
	color: white;
}

#changes h3 {
	text-shadow: 2px 2px gray;
	font-size: 120%;
}

#changes ul {
	list-style-type: square;
}
