* {
  margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

#header1 {
  height: 50px;
  background-color: gray;
}

#header2 {
  height: 125px;
  background-color: lightgray;
}

#container1 {
  background-color: gray;
  height: 600px;
}

#graphic {
  width: 60%;
  height: 600px;
  background-color: green;
  margin: auto;
}

#container2 {
  background-color: darkgray;
  height: 300px;
}

#column1 {
  margin-left: 20%;
  width: 20%;
  height: 300px;
  background-color: blue;
  float: left;
  border-style: solid;
  border-color: darkgray;
  border-width: 10px 10px 10px 10px;
}

#column2 {
  width: 20%;
  height: 300px;
  background-color: blue;
  float: left;
  border-style: solid;
  border-color: darkgray;
  border-width: 10px 10px 10px 0px;
}

#column3 {
  width: 20%;
  height: 300px;
  background-color: blue;
  float: left;
  border-style: solid;
  border-color: darkgray;
  border-width: 10px 10px 10px 0px;
}
